body{
      font-family: "Plus Jakarta Sans", serif !important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;

}
.container{
    flex: 1;
} 


/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass-drafting{
    color: brown;
    font-size: 3rem;
}

.nav-link{
    color: black !important;/*use for overpower or override */
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
   margin-right: 0.5rem;
   font-size: 1rem;
}

.f-info{
   text-align: center;
   height: 6rem;
   background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;/*use to different line */
   justify-content: center;
   align-items: space-evenly; 
}
/* cards */

.listing-card{
   border: none !important;
   margin-bottom: 2rem; 
   margin-left: 2.75rem;
}

.card-img-top{
    border-radius: 0.5rem !important;
    width: 100%  !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-style: 20 !important;
}

.listing-link{
  text-decoration: none;
}

/* card effects */
.card-img-overlay{
   opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.1;
    background-color:white ;
}

/* new page */
.add-btn{
    background-color: black !important;
    border:none !important;
}

/* edit btn */
.edit-btn{
    background-color: black !important;
    border:none !important; 
}
 
/* show image */
.show-image{
  height: 35vh;
   
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
    
}

